<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="http://localhost:3042/auth/google"><button>google login</button></a>
    <a href="http://localhost:3042/auth/facebook"><button>FB login</button></a>
    <a href="http://localhost:3042/auth/line"><button>Line login</button></a>
    <a href="http://localhost:3042/auth/github"><button>gitHub login</button></a>
  </body>
</html>
